.bar-display {
  width: 100%;
  height: 35px;
  background-color: #858693;
}

.bar-display .writting {
  width: 98%;
  margin: auto;
  color: white;
  text-align: end;
  line-height: 35px;
  padding-right: 10px;
}
