.navbar {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 20px;
}

.active {
  color: green;
  text-decoration: none;
}

.navbar h1 {
  font-size: 2.5em;
  padding-left: 10px;
  line-height: 1.5em;
}

.navbar .link {
  padding-top: 35px;
  text-align: end;
}

.navbar .link ul {
  list-style: none;
  margin: 0;
  justify-content: end;
}

.navbar div ul li {
  display: inline-block;
  margin: 10px;
  font-size: 19px;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: green;
}
